.bullet-point-group {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 21px;

	.bullet-item {
		display: flex;
		align-items: center;

		.icon {
			color: $blue;
			font-size: 2em;
			margin-right: 20px;
		}
		.text {
			font-size: 1.5em;
			font-weight: 600;
		}
	}
}
