.portfolio-sidebar-items-wrapper {
    .portfolio-sidebar-prev {
        padding:21px;
        .portfolio-sidebar-thumb-img img {
            width:100%;
        }

        .title-icon-wrapper {
            display:flex;
            justify-content: space-between;
            align-items: center;
            .title {
                color:$offwhite;
                font-size:1.6em;
                margin-top:5px;
            }
            .actions {
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-gap:15px;

                .action-icon {
                    color:$offwhite;
                    font-size:1.6em;
                    transition: 0.5s all ease-in-out;
                    cursor: pointer;
                    &:hover {
                        color: $warning;
                    }
                }
            }

        }
    }
}