.portfolio-sidebar-items-wrapper {
    .portfolio-sidebar-prev {
        padding:21px;
        .portfolio-sidebar-thumb-img img {
            width:100%;
        }
        .title {
            color:$offwhite;
        }
    }
}